@model ComplianceReportGenerator.Models.ClientFormViewModel
<!--round edges for boxes, buttons black with white text, everything separated, -->

<h1 style="text-align:center;">Just a little info before we get started here: </h1>

<form asp-controller="ClientForm" asp-action="CreateClientForm" method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div>
                    <label style="padding-top:25px; padding-bottom:5px; padding-left:100px;" asp-for="Date">Date of Audit: </label>
                </div>
                <div>
                    <label style="padding-top:5px; padding-bottom: 5px; padding-left:100px;" name= "Name" asp-for="ClientName">Client Name: </label>
                </div>
                <div>
                    <label style="padding-top: 5px; padding-bottom: 5px; padding-left:100px;" asp-for="ClientRep">Client Rep: </label>
                </div>
                <div>
                    <label style="padding-top: 25px; padding-bottom: 5px; padding-left:100px;" asp-for="FacilityType">Facility Type: </label>
                </div>
            </div>
            <div class="col-sm">
                <div style="padding-top: 25px; padding-bottom:5px; padding-left:5px; padding-right:5px;">
                    <input style="border-width:2px; border-radius:4px; border-color:black;" asp-for="Date" />
                </div>
                <span asp-validation-for="Date"></span>
                <div style="padding:5px;">
                    <input style="border-width:2px; border-radius:4px; border-color:black;" asp-for="ClientName" />
                </div>
                <span asp-validation-for="ClientName"></span>
                <div style="padding:5px;">
                    <div>
                        <input style="border-width:2px; border-radius:4px; border-color:black;" asp-for="ClientRep" />
                    </div>
                    <span asp-validation-for="ClientRep"></span>
                    <!--the checkbox needs revisiting for styling. should have same styling as other boxes. check with nicole n group-->
                    <div>
                        <input style="border-width:2px; border-radius:4px; border-color:black;" type="checkbox" asp-for="Staff" /> and staff
                    </div>
                </div>
                <div style="padding:5px;" class="form-group">
                    <!--make facility type a drop down menu. the three types are: Cultivation, Production, Dispensary-->
                    <select style="border-width:2px; border-radius:4px; border-color:black;" name="FacilityType" id="FacilityType">
                        <option value=""></option>
                        <option value="Cultivation">Cultivation</option>
                        <option value="Production">Production</option>
                        <option value="Dispensary">Dispensary</option>
                    </select>
                    <span asp-validation-for="FacilityType"></span>
                </div>
            </div>
            <div class="col-sm">
                <div>
                    <label style="padding-top:25px; padding-bottom:5px; padding-left:100px;" asp-for="Address">Address: </label>
                </div>
            </div>
            <div class="col-sm">
                <div style="padding-top: 25px; padding-bottom:5px; padding-left:5px; padding-right:5px;">
                    <input style="border-width:2px; border-radius:4px; border-color:black;" asp-for="Address" />

                </div>
                <!-- Need to check documentation and with group and Nicole for multiline inputs for address. looks much better. do we need it?
                <div style="padding:5px;">
                    <input style="border-width:2px; border-radius:4px; border-color:black;" asp-for="Address" />
                </div>
                    -->
                <span asp-validation-for="Address"></span>
            </div>
        </div>
    </div>
    <div style="text-align:center;">
        <input style="border-radius: 4px; border-width: 0px; background-color: black; color: white;" type="submit" value="Finish and Export Report" />
    </div>
</form>
<br />




