@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@






<form action="createform1" method="post">

    <table>

        <tr>

            <td>Date of Audit: </td>

            <td><input type="text" name="txtDate" /></td>
            <td>Address: </td>

            <td><input type="text" name="txtAddress" /></td>

        </tr>

        <tr>

            <td>Client Name: </td>

            <td><input type="text" name="txtClientName" /></td>

        </tr>
        <tr>

            <td>Client Rep: </td>

            <td><input type="text" name="txtClientRep" /></td>

        </tr>

        <tr>

            <td> </td>

            <td><input type="checkbox" name="chkStaff" />and Staff</td>

        </tr>

        <tr>

            <td>Facility Type: </td>

            <td><input type="text" name="txtFacilityType" /></td>

        </tr>



        <tr>

            <td colspan="2"><input type="submit" value="Begin Citation Search" /></td>

        </tr>

    </table>

</form>

