
<head>
    <style>
      
    </style>
</head>


@{
    ViewData["Title"] = "Home Page";

}



<html>
<head>
</head>
<body>
    <div class="container" style="display: flex; height: 100px; text-align:center">
        <div style="width: 70%;">
            <br>
            <br>
            <h1 class="display-4">Welcome to the Compliance Report Generator!</h1>
            <br>
            <br>
            <div class="container__text">
                <p>You can download, edit, or delete a report you have already made (<i>future goal!</i>), or you can click the "Begin!" button below (<i>present reality!</i>) to create a new report.</p>
                <br>
                <br>
                <button name="button" align="middle" style="background-color: black; color: white; border: 0; border-radius: 8px ">Begin!</button>
            </div>
            <br>
        </div>
        
        <div class="container" style="flex-grow: 1">
            <br>
            <img src="Content/Images/sunrise.JPG" width="500" align="right">
        </div>
    </div>
</body>
</html>




