
<head>
    <style>

    </style>
</head>


@{
    ViewData["Title"] = "Home Page";

}



<html>
<head>
</head>
<body>
    <div class="container" style="display: flex; height: 100px;">
        <div style="width: 50%;">
            <h1 class="display-4">Welcome to the Compliance Report Generator!</h1>
            <div class="container__text">
                <p>You can download, edit, or delete a report you have already made, or you can click "create new report" to create a new report.</p>
            </div>
        </div>
        <div style="flex-grow: 1">
            <img src="~/Content/Images/IMG_8360.JPG">
        </div>
    </div>
</body>
</html>




